{
  "ВерсияVA": "",
  "КаталогФич": "@FEATURES_DIR@",
  "КаталогПроекта": "@FEATURES_DIR@",
  "КаталогиБиблиотек": [],
  "ОтчетJUnit": { "КаталогВыгрузкиJUnit": "" },
  "ОтчетAllure": { "КаталогВыгрузкиAllure": "" }
}
